<div class="column-wrapper clearfix">
 <% @columns.each do |column| %>
  <div class="column">
    <p><%= column.label_name %></p>
    <div class="kanban-cards-wrapper">
      <% 4.times do %>
        <div class="kanban-card">
        </div>
      <% end %>
    </div>
  </div>
 <% end %>
</div>

<!-- Need to inspect code to see this output due to FrontEnd updates. -->
<h1>Board: <%= @board.name %></h1>
<% @board.users.each do |user| %>
  <h2>User: <%= user.username %></h2>
<% end %>

<% @board.repos.each do |repo| %>
  <h2>Repo: <%= repo.name %></h2>

  <h3>Labels</h3>
  <% repo.labels.each do |label| %>
    <p>Name: <%= label.name %>, Color: <%= label.color %></p>
  <% end %>

  <h3>Issues</h3>
  <% repo.issues.each do |issue| %>
    <p>Issue #<%= issue.number %>: <%= issue.title %></p>
  <% end %>
<% end %>
